html {
    font-family: Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

.main-list {
    list-style-type: square;
}

.inner-list {
    list-style-type: disc
}

table {
    width: 600px;
    text-align: left;
    border-spacing: 0;
}

thead th {
    background-color: rgb(180, 167, 167);
    padding: 5px;
}

tr td {
    padding: 5px;
    text-align: center;
    border: 1px solid  rgb(180, 167, 167);
}

tbody tr:nth-child(odd) {
    background-color: rgb(230, 221, 221);
}

tbody tr:nth-child(even) {
    background-color: rgb(248, 241, 241);
}

blockquote {
    line-height: 40px;
    font-style: italic;
}

blockquote::before {
    display: inline-block;
    position: absolute;
    left: 30px;
    height: 105px;
    width: 3px; 
    background: rgb(221, 221, 221);
    content: '';
}

.author {
    text-align: right;
}