body {
    font-family: 'Helvetica';
    margin: 50px;
}

h3, p, aside {
    border: 1px solid black;
    padding: 20px;
    margin: 0px;
    text-align: center;
}

.workweek {
    display: flex;
    flex-wrap: wrap;
}

.week {
    display: flex;
}

.workweek h3 {
    border-right: 0;
}

.week p {
    padding-bottom: 60px;
    flex-grow: 1;
    border-top: 0;
    border-right: 0;
}

.days {
    flex-grow: 1;
}

.weekdays {
    display: flex;
}

.weekdays h3 {
    border-top: none;
    border-right: none;
}

aside {
    flex-basis: 15%;
}

.weekdays aside {
    border-top: 0;
}